nav {
  font-size: 16px;
  margin: 20px;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

a {
  text-decoration-line: none;
  padding: 16px;
  /* 여기 다시 조절하기 */
}

a:link {
  color: black;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: #d4d4d4;
  border-radius: 30px;
}

.main-page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.introduction {
  align-self: center;
  margin-left: 32px;
}

.hi {
  font-size: 20px;
  font-weight: 400;
}

.tagline {
  font-size: 56px;
  font-weight: 600;
}

.front {
  color: gray;
}

h1 {
  font-size: 20px;
  justify-self: center;
}
.about-me {
  justify-self: center;
}

.portfolio {
  display: flex;
  justify-content: center;
}

.portfolio ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개 */
  gap: 20px;
  padding: 0;
  max-width: 900px;
  width: 100%;
  list-style: none;
}

.portfolio li {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-weight: 500;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.project-logo {
  width: 120px;
  height: 80px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.project-title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 16px;
  width: 100%;
  text-align: center;
}

.project-duration {
  padding: 4px 12px;
  width: 80%;
  text-align: center;
  font-weight: 500;
}

.project-description {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.project-tag {
  background-color: rgb(43, 131, 255);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 80px;
}

.skill-language {
  display: flex;
  align-items: flex-start;
}

.language {
  display: flex;
  align-items: center;
}

.skill-front {
  display: flex;
  align-items: flex-start;
}

.front-end {
  display: flex;
  align-items: center;
}

.skill-design {
  display: flex;
  align-items: flex-start;
}

.design {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 20px;
}

li {
  list-style: none;
  padding: 10px;
  font-weight: 400;
}
